parameters:
    level: max
    paths:
    - src
    - tests

    ignoreErrors:
        -
            identifier: method.impossibleType
            paths:
                - tests/AssertIfFalseTest.php

        -
            identifier: function.impossibleType
            paths:
                - tests/AssertIfFalseTest.php

        -
            identifier: assert.alreadyNarrowedType
            paths:
                - tests/AssertIfFalseTest.php
                - tests/AssertIfTrueTest.php
                - tests/AssertTest.php

        -
            identifier: method.alreadyNarrowedType
            paths:
                - tests/AssertIfTrueTest.php

        -
            identifier: function.alreadyNarrowedType
            paths:
                - tests/AssertIfTrueTest.php


        -
            identifier: missingType.iterableValue
            paths:
                - tests/*

        -
            identifier: missingType.generics
            paths:
                - tests/*

        -
            identifier: phpDoc.parseError
            paths:
                - tests/*

        -
            identifier: possiblyImpure.methodCall
            paths:
                - tests/PureTest.php

        -
            identifier: possiblyImpure.new
            paths:
                - tests/PureTest.php
