parameters:
    level: max
    paths:
    - src
    - tests

    ignoreErrors:
    - '#^Constructor of class PhpStaticAnalysis\\Attributes\\[a-zA-Z]+ has an unused parameter \$[a-zA-Z]+\.$#'
    - '#^(Function|Method) [a-zA-Z\:]+\(\) return type has no value type specified in iterable type array.$#'
    - '#^Parameter \#1 \.*\$[a-zA-Z]+ of attribute class PhpStaticAnalysis\\Attributes\\[a-zA-Z]+ constructor expects string, int given.$#'
    - '#^Attribute class PhpStaticAnalysis\\Attributes\\[a-zA-Z]+ constructor invoked with [0-9]+ parameter(s)?, [0-9]+ required.$#'
    - '#^Attribute class PhpStaticAnalysis\\Attributes\\[a-zA-Z]+ is not repeatable but is already present above the (property|method).$#'
    - '#^Method [a-zA-Z\:]+\(\) has parameter \$[a-zA-Z]+ with generic class [a-zA-Z]+ but does not specify its types: [a-zA-Z]+$#'
    - '#^PHPDoc tag @[a-z\-A-Z]+ has invalid value \(\): Unexpected token "\\n ", expected type at offset [0-9]+( on line [0-9]+)?$#'
    - '#^Possibly impure call to method [a-z\-A-Z]+::[a-z\-A-Z]+\(\) in pure (method|function) ([a-z\-A-Z]+::)?[a-z\-A-Z]+\(\).?$#'
    - '#^Possibly impure instantiation of class [a-z\-A-Z]+ in pure function [a-z\-A-Z]+\(\).?$#'

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon